/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 4. Add accessible line-height */
/* 5. Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:root {
  font-family: Arial, Helvetica, sans-serif, system-ui;
}

body {
  height: 100vh;
  padding: 16px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  text-align: center;
}

.card {
  background-color: lightgray;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.italic {
  font-style: italic;
}

.read {
  background-color: lightgreen;
}

.not-read {
  background-color: lightyellow;
}

.add {
  border: 1px dashed black;
  cursor: pointer;
}

.add:hover {
  background-color: darkgray;
}

.add:active {
  background-color: gray;
}
